html {
  scroll-behavior: smooth;
  font-family: monospace;
}

img {
  width: 100%;
  height: auto;
  border: none;
}

.bigHead {
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.cards-container {
  width: 70%;
  display: grid;
  grid-gap: 30px;
  margin: 30px auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  z-index: 1;
}
.nav-list {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
  margin: 0.5em;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.nav-list-collapsed {
  display: flex;
  flex-direction: column;
  display: none;
  width: 100%;
  list-style: none;
  font-size: 0.5em;
  background-color: black;
}

.toggle-collapsed {
  display: none;
}
nav li {
  margin: 2px 10px;
  justify-self: center;
  border: 2px solid purple;
  padding: 0.5em;
}

nav a {
  height: 100%;
  font-size: 1.5em;
  color: white;
  white-space: nowrap;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
  display: none;
  position: fixed;
  top: 0;
  right: 10px;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  background-color: black;
  padding: 5px;
  border: 1px solid purple;
  cursor: pointer;
  margin: 3px;
}

.navigationBarLines {
  height: 2px;
  background-color: white;
  margin: 3px 0;
}

.back-to-top{
  position: fixed;
  top: 45%;
  right: 10px;
}

#homepage-section {
  min-height: 400px;
  margin-bottom: 20px;
}
.bigHead-homepage h1 {
  font-size: 5em;
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
  margin: 10px;
}

.bigHead-homepage p {
  font-size: 2em;
  text-shadow: 1px 1px #333;
}

.bigHead-homepage {
  background-image: url("../img/bg-1.jpg");
  min-height: 500px;
}

.three-cards {
  grid-template-columns: 1fr 1fr 1fr;
}

.two-cards {
  grid-template-columns: 1fr 1fr;
}

.bigHead-service {
  background-image: url("../img/bg-2.jpg");
  height: 315px;
  margin: 20px 0;
}

.bigHead-service h2 {
  font-size: 3em;
  text-transform: uppercase;
  text-shadow: 2px 2px #aaa;
  margin: 10px;
}

.bigHead-service p {
  font-size: 1.3em;
}

.four-cards {
  grid-template-columns: repeat(4, 1fr);
}

#contact-section {
  background-image: url("../img/bg-3.jpg");
  height: 500px;
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: auto auto auto;
  grid-gap: 20px;
  justify-content: center;
  padding: 80px 10px 60px 10px;
}
#contact-section h2 {
  font-size: 2em;
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
  text-align: center;
  margin: 10px;
  color: white;
}

#contact-section p {
  border-radius: 5px;
  color: #000;
  padding: 20px 15px;
  text-align: center;
  background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;
}

.contact-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px;
  height: 200px;
}

.lefty {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, min-content);
  grid-gap: 15px;
}
.righty {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
}

.contact-form input {
  border-radius: 5px;
  padding: 5px;
  height: fit-content;
  background: rgba(242, 242, 242, 0.4);
}

.contact-form input::placeholder {
  color: #000;
}

.contact-form textarea {
  border-radius: 5px;
  background: rgba(242, 242, 242, 0.4);
  width: 100%;
  padding: 5px;
}

.contact-form textarea::placeholder {
  color: #000;
}

.form-button {
  width: fit-content;
  height: fit-content;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 30px;
  text-decoration: none;
  color: white;
  background-color: #000;
}

.footer {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  padding: 20px;
  color: #666;
  font-size: 2em;
  text-align: center;
  font-style: italic;
}

.copyright {
  color: #666;
  text-align: center;
  font-style: none;
  font-size: 0.9em;
}

.card {
  background-color: greenyellow;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-gap: 0.5em;
}

.card-title {
  padding: 0 16px;
  color: firebrick;
  text-align: start;
}
  
.card-description {
  padding: 0 16px;
  color: goldenrod;
}

.card-button {
  width: fit-content;
  height: fit-content;
  margin: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 30px;
  text-decoration: none;
  color: khaki;
  background-color: brown;
}

.green-text {
  color: #178a27;
}
.green-button {
  background-color: #178a27;
  color: white;
}

.red-text {
  color: #852406;
}
.red-button {
  background-color: #852406;
  color: white;
}

.blue-text {
  color: #1686c1;
}
.blue-button {
  background-color: #1686c1;
  color: white;
}

.move-to-right {
  justify-self: end;
}

.center {
  justify-self: center;
}

.parallax-bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

/* Break points */
@media only screen and (max-width: 700px) {
  .two-cards,
  .three-cards,
  .four-cards,
  .contact-form,
  #contact-section {
    grid-template-columns: auto;
    height: auto;
  }

  .bigHead {
    font-size: 0.5em;
  }

  nav {
    background: transparent;
  }

  nav li {
    margin: 0;
    height: 36px;
    width: 100%;
    padding: 0;
  }

  .nav-list {
    display: none;
  }

  .toggle-collapsed {
    display: block;
  }

  .nav-button {
    display: block;
  }
}